
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.main_wrapper {
    width: 95vw;
    margin: auto;
    /* overflow: visible; */
}
.header{
    display: flex;
    
    align-items: center; 
    justify-content: space-between;
    width: 1258px;
    height: 44px;
    margin-top: 33px;
    margin-left: 91px;
    gap: 339px;
}
.logo{
    display: flex;
    width: 789px;
    height: 33px;
    gap: 142px;
    align-items: center;

}
.services ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 38px;
    width: 508px;
    height: 28px;
    align-items: center;
    
    
    
}

.services ul li>a {
    text-decoration: none;
}
.img{
    display: flex;
    align-items: center;
}
.help{
    color:  #2995E2;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 700;
}
    



.signUp button{
    border-radius: 5px;
    width: 120px;
    height: 40px;
    
    

}
.main{
    width: 1258px;
    height: 44px;
    margin-top: 33px;
    margin-left: 91px;
    gap: 339px;
}
.main_body{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
.body_text p{
    margin-top: 20px ;
    margin-bottom: 20px;

}
.main_text{
    font-style: Cairo;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 10px;
}
.help2{
   color: #2995E2;

}
.second_text{
    font-style: Cairo;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 10px;
}
.better_life{
    color: #2995E2;
}
.service{
    color:  #242424;
    font-weight: bold;
}
.button1{
    width: 374px;
    height: 51px;
    margin-top: 20px;
    margin-left: 6px;
    gap: 46px;
}
.get_started{
    background-color:  #2995E2;
    color: white;
    ;
    width: 149px;
    height: 51px;
}
.wacth{
    width: 179px;
    height: 36px;
    gap: 18px;
    font-size: large;
}
  .fa-regular fa-circle-play {
    
    
    background-color:  #D6EEFF;
    width: 50px;
    height: 50px;
    gap: 1px;


}
.my_text2{
    text-align:center ;
    
}
.text-header2{
    font-size: 300%;
    font-weight: bold;

}
.img2{
    margin-left: 800px;
}
.third-para{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

}
.third-para button{
    margin-top: 50px;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: #2995E2;
    color: white;
    
}
.third-para h6{
    font-size: 25px;
    margin-bottom: 20px;
}
.third-para p{
    font-size: 20px;
}
 /* .third-para img{
    
     width: 500px; 
     height: 500x; 
     margin-left: 150px;
}  */
.third-para h6{
    margin-top: 70px;
}

.fourth-para{
    display: flex;
    justify-content: space-between;
}
.inner-para4{
    margin-top: 200px;
} 
.inner-para4 h6{
    font-size: 25px;
    margin-bottom: 20px;


}
.inner-button4{
    margin-top: 30px;
    
    
}
.inner-button4 button{
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: #2995E2;
    color: white;
}
.inner-para4 span{
    font-size: 20px;
}
.fifth-para{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.inner-text5{
    margin-top: 150px;
}
.inner-text5 h6{
    font-size: 25px;
    margin-bottom: 20px;

}
.inner-text5 span{
    font-size: 20px;
}
.inner-button5{
    margin-top: 30px;
}
.inner-button5 button{
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: #2995E2;
    color: white;
}
.sixth-para{
    margin: 50px;
    background-color: #2995E2;
    display: flex;
    justify-content: space-between;
    height: 380px;
}
.inner-text6{
    margin-top: 200px;
    margin-right: 200px;
}
.inner-text6 p{
    margin-bottom: 30px;
    font-size: 30px;
}
.inner-button6 button{
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color:white;
    color: black;


}
.inner-img6{
    margin-top: 160px;
    
}
.inner-img6 img{
    margin-right: 100px;
}
.form{
    border-color:#2995E2 ;
    border-width: 2px;
    border-style: solid;
    margin-top: 200px;
    gap: 10px;
    height: 600px;
    width: 1179px;
    

}
.form-header{
    margin-top: 200px;
    border-width: 1px;
    border: 1px;
    border-style: none;
    padding-left: 80px;
}
.myInput-form1{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    padding-left: 80px;
}
.myInput-form2{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    padding-left: 80px;
}
.form-button{
    margin-top: 20px;
}
.line1 input{
    width: 500px;
    height: 50px;

}
.line2 input{
    width: 500px;
    height: 50px

}
.line3 input{
    width: 500px;
    height: 50px

}
.line4 input{
    width: 500px;
    height: 50px
}
.form-button button{
    margin-left: 350px;
    background-color: #2995E2;
    color: #D6EEFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
.form-header p{
    font-size: 30px;
}
.form-header span{
    font-size: 20px;
}
#house{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    gap: 10px;
    
}

.first-side1{
    display: flex;
    align-items: center;
}
.first-side2{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    
}

#house > div > *:not(:last-child) {
    margin-bottom: 15px;
}
.last{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.Cookies span{
    margin-left: 10px;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: #D6EEFF;
}
.service a{
    color: #242424;
}
.donate a{
    color: black;
}
.who-we-are a{
    color: black;
}
.join-us a{
    color: black;
}
.contact-us a{
    color: black;
}
.blog a{
    color: black;
}



/* #house > div > * {
    margin-bottom: 15px; /* Adds 15px space between all tags inside each div */
 */

/* .form-header p{
    margin-top: 200px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.myInput-form{
    border-radius: 10px;
    border-color: #2995E2;
    border: solid;
}
.form-header span{
    margin-top: 30px;
    font-size: 20px;
}
.form1{
    display: flex;
}
.form2{
    display: flex;
    margin-top: 20px;
    
} */
/* .form input{ */

    
    
    border-radius: 10px;
    background-color: white;
    border-color: #2995E2;
    margin-top: 250px;
    height: 300px;
}
.form2 input{
    padding-left: 40px;

}
.name{
    padding-left:80px ;
}
/*.main_text{
    font-size: large;
    font-size: 40px;
    margin-top: 50px;
    letter-spacing: 1px;
    word-spacing: 5px;
    

    }

.help{
    color: rgb(53, 164, 201);
}
.second_text{
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}
.better_life{
    color: rgb(103, 186, 214);
}
.main{
    display: flex;
    justify-content: space-between;
    
    
    
}
.first_image{
    width: 577;
    height: 467;
}
.get_started{
    background-color: rgb(33, 183, 238);
    border-radius: 5px;
    color: white;
    
}
.button1{
    gap: 10px;
    margin-top: 20px;
    border: solid;
    width: fit-content;
    
}
.wacth{
    margin-left: 90px;
    border: none;
}

     */