*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.main-wrapper{
    
    width: 100vw;
    margin: auto;
    background-image: url(../chinedu1/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
    
}
.main-container{
    width: 90%;
    margin: auto;

} 
.navBar {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    
    
}
 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 300px;
    
}
.navBar li{
    list-style: none;
}
h2{
    background-color:grey;
    border-radius: 5px;
    padding: 10px;
}
h2:hover{
    cursor: pointer;
    opacity: 15;
    background-color: white;
}
ul:hover{
    cursor: pointer;
}
#search input{
    margin-top: 20px;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin-left: 250px;
    
}
.movie{
    
    margin-left: 180px;
    
    
    

}
.movie img{
    width: 400px;
    height: 500px;
    margin-top: 20px;
    margin-top: 10px;

    
    

}
.title-rating{
    display: flex;
}
.movie-main-container{
    display: flex;
    /* justify-content: ; */

}
.this-text p{
    display: block;
}
.movie-main-container{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
}
.navBar{
    background-color: grey;
}